/* Using W3.CSS 4.15 November 2021 - Krispin Moutia*/


.km-dropdown-1:hover{
      background: steelblue !important;
      color: whitesmoke !important;
    }

li.km-dropdown-1:active{
      background: steelblue !important;
      color: whitesmoke !important;
    }


/* .km-dropdown-1 div{
  background: white;
  color: black;
} */
